.page-header {
  margin-bottom: 40px;
}

.page-header h1 {
  font-size: 42px;

  margin-bottom: 10px;
}

.page-header p {
  color: #6b7280;
}

.challenges-grid {
  display: grid;

  grid-template-columns: repeat(4, 1fr);

  gap: 22px;
}

.challenge-card {
  position: relative;

  background-color: white;

  padding: 28px;

  border-radius: 20px;

  border: 1px solid #e5e7eb;

  transition: 0.25s;

  min-height: 180px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  overflow: hidden;
}

.challenge-card:hover {
  transform: translateY(-4px);

  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.card-content {
  display: flex;

  flex-direction: column;

  justify-content: space-between;

  height: 100%;
}

.card-top {
  display: flex;

  justify-content: space-between;

  align-items: flex-start;

  gap: 15px;
}

.card-top h2 {
  font-size: 20px;

  line-height: 1.3;

  max-width: 75%;
}

.challenge-card p {
  color: #6b7280;

  line-height: 1.6;

  margin-top: 14px;
}

.card-bottom {
  margin-top: 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.difficulty {
  flex-shrink: 0;

  padding: 6px 12px;

  border-radius: 999px;

  font-size: 14px;
  font-weight: bold;
}

.easy {
  background-color: #dcfce7;
  color: #166534;
}

.medium {
  background-color: #fef3c7;
  color: #92400e;
}

.hard {
  background-color: #fee2e2;
  color: #991b1b;
}

.completed {
  position: relative;

  background-color: #f9fafb;
}

.completed .card-content {
  opacity: 0.18;

  transition: 0.25s;
}

.completed:hover .card-content {
  opacity: 1;
}

.completed-overlay {
  position: absolute;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  font-size: 24px;
  font-weight: 700;

  color: #16a34a;

  transition: 0.25s;

  pointer-events: none;
}

.completed:hover .completed-overlay {
  opacity: 0;
}